<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Compras"
        tools:targetApi="31">

        <activity
            android:name=".presenter.profile.ProfileActivity"
            android:exported="false"
            android:theme="@style/Profile.Activity" />

        <activity
            android:name=".presenter.categories.CategoriesActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.add_edit_category.AddEditCategoryActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysVisible" />

        <activity
            android:name=".presenter.add_edit_establishment.AddEditEstablishmentActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.stablishments.EstablishmentsActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.add_edit_shop_list.AddEditShopListActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysVisible" />


        <activity
            android:name=".presenter.add_edit_product.AddEditProductActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysVisible" />

        <activity
            android:name=".presenter.products.ProductsActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Login.Activity" />

        <activity
            android:name=".presenter.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".presenter.sync_stopped.SyncStoppedActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.splash.SplashActivity"
            android:theme="@style/Splash.Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presenter.suggest_products.SuggestProductsActivity"
            android:windowSoftInputMode="stateAlwaysVisible" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
